
<div class="row">
	<div class="span4">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well" }) do |f| %>
			<fieldset>
				<lengend>Sign in</lengend>
		  		<%= f.input :email %><br />
		  		<%= f.input :password %><br />

				<% if devise_mapping.rememberable? -%>
				<div><%= f.input :remember_me, as: :boolean %></div>
				<% end -%>
				<div><%= f.button :submit, "Sign in" %></div>
			</fieldset>
				<% end %>

	</div>
	<div class="span7">
		<h2>Save and secure sign in</h2>
	</div>
</div>

<%= render "devise/shared/links" %>
